@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);
  --ui-header-height: --spacing(24);
}

body {
  @apply antialiased text-default bg-default scheme-light dark:scheme-dark;
}
